@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');
*{
  font-family: Montserrat Alternates,sans-serif;
  color: #fff !important;
}
.bg-color{
  background-color: #131722;
}

html{
  background-color: #131722;

}

input{
  background-color: #131722 !important;
  color: #fff !important;

}
a , a:hover{
  text-decoration: none;
  color: #fff !important;
}

.details-desc{
  font-size: 1.25rem;
}

.logout{
  cursor: pointer;
}

.offline{
  z-index: 999999999999;

  left: 5%;
}